body {
    background: url(blade-blooming-blossom-5865.jpg);
    background-size: contain;
    font-family: sans-serif;
}

h1 {
    font-family: fantasy;
    text-align: center;
    font-weight: bold;
    color: rgb(207, 252, 207);
    text-decoration: underline wavy white;
    text-shadow: 2px 2px rgb(36, 36, 36);
}

button {
    font-size: 20px;
    padding: 3px;
    border-radius: 30%;
    -webkit-box-shadow: 10px 10px 7px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 10px 10px 7px 0px rgba(0, 0, 0, 1);
    box-shadow: 10px 10px 7px 0px rgba(0, 0, 0, 1);
}

#oneMore {
    display: inline-block;
    position: fixed;
    top: 10px;
    left: 10px;
}

.count {
    display: inline-block;
    position: fixed;
    line-height: 10px;
    right: 5px;
    font-size: 15px;
}

#dogsCount {
    top: 10px;
}

#cuteDogsCount {
    top: 25px;
}

.cute {
    position: relative;
    width: 20%;
    font-size: 15px;
}

.notCute {
    position: relative;
    left: 10%;
    font-size: 15px;
}

#dogpix {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

span {
    width: 30%;
    text-align: center;
}

img {
    width: 80%;
    margin: 8px;
    border: 15px white solid;
    border-radius: 10%;
    -webkit-box-shadow: 10px 10px 7px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 10px 10px 7px 0px rgba(0, 0, 0, 1);
    box-shadow: 10px 10px 7px 0px rgba(0, 0, 0, 1);
    /*https://www.cssmatic.com/box-shadow*/
}

.sad {
    font-size: 80px;
    width: 25%;
    color: grey;
    opacity: 0.75;
    text-align: center;
    height: 200px;
    line-height: 200px;
    margin: 8px;
    border: 15px white solid;
    border-radius: 10%;
    -webkit-box-shadow: inset 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: inset 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: inset 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    /*https://www.cssmatic.com/box-shadow*/
}

footer {
    position: fixed;
    vertical-align: bottom;
    bottom: 0px;
    right: 0px;
    font-family: monospace;
}